<div>
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="true">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>

<!-- <div class="mb-5 " style="padding-top: 6rem;"> -->
<div class="mb-5 ">
  <!-- New Arrival Component -->
  <div class="mx-3 p-3 my-3" style="background: white;">
    <!-- Heading -->
    <div>
      <div>
        <h5 style="margin: 2rem 1rem;">New Arrival<span class="float-right view-more font14">view more</span>
        </h5>
      </div>
    </div>
    <!-- Heading -->

    <!-- New Arrival card -->
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- New Arrival card -->
  </div>
  <!-- New Arrival Component -->




  <!-- Women Component -->
  <div class="mx-3 p-3 my-3" style="background: white;">
    <!-- Heading -->
    <div>
      <div>
        <h5 style="margin: 2rem 1rem;">Women<span class="float-right view-more font14">view more</span>
        </h5>
      </div>
    </div>
    <!-- Heading -->

    <!-- Women card -->
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Women card -->
  </div>
  <!-- Women Component -->


  <!-- Kiddies Component -->
  <div class="mx-3 p-3" style="background: white;">
    <!-- Heading -->
    <div>
      <div>
        <h5 style="margin: 2rem 1rem;">Kiddies<span class="float-right view-more font14">view more</span>
        </h5>
      </div>
    </div>
    <!-- Heading -->

    <!-- Kiddies card -->
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
          <div class="card-header bg-transparent">
            <h4 class="text-center" style="color: red;">Avery</h4>
            <p class="text-center font12 mb-0 w-600" style="color: red;">
              Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
          </div>
          <div class="text-success">
            <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-8">
                <h5 class="amount colorRed">&#8358; 20,000</h5>
                <p class="size colorRed font14 w-500">Size:
                  <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                  <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                  <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
                </p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </div>
            <div class="view-details">
              <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Kiddies card -->
  </div>
  <!-- Kiddies Component -->

</div>

