.view-more{
  border: solid red 1px;
    border-radius: 20px;
    padding: 5px 21px;
    cursor: pointer;
}
.prod-comp{
  margin-inline-start: 9rem;
  margin-inline-end: 5rem;
  margin-bottom: 4rem;
}
 .img{
   object-fit: cover;
  height: 92px;

  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: .6;
}
 .active {
  opacity: 1;
}
.img:hover{
  opacity: 1;
}

.product-small-img{
  float: left;
}
.imgBig {
  height: 398px;
}
.img-container{
  float: right;
  padding: 10px;
}
