<div class='mb-5' style="padding-top: 6rem;">
  <div class="row prod-comp ">
    <div class="col-4 product">
      <div  class="product-small-img">
        <img *ngFor="let img of images; index as i" [src]= 'img.path'
         alt=""  class="img active" (click)="previewImg(i)">

      </div>
      <div class="img-container">
        <img [src]="selectedImg.path" alt="" id="featured" class="imgBig">
      </div>

    </div>
    <div class="col-6">
      <div class="prodHeader mb-2 pt-3 px-2" style="background: white;">
        <h4 class="prodTitle colorRed">Avery</h4>
        <p class="prod font14 pb-1 m-0">Tags:<span class="">short</span> | <span>fitted kimono</span></p>
      </div>
      <div class="prodDesc mb-2 py-3 px-2" style="background: white;">
        <h6 class="colorRed">Description</h6>
        <p class="font14 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Laudantium dolore illo explicabo tempora nihil incidunt maxime eius repellat quam dolorum,
          libero quis velit odio excepturi ad omnis at, in accusamus.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Laudantium dolore illo explicabo tempora nihil incidunt maxime eius repellat quam dolorum,
          libero quis velit odio excepturi ad omnis at, in accusamus.</p>
      </div>
      <div class="row ml-0 w-100">
        <div class="col-4" style="background: white;">
          <p>price:<span>	&#8358;20,000</span></p>
        </div>
        <div class="col-7 ml-2" style="background: white;">
          <div class="row">
            <div class="col-6">
              <p>Select Size</p>
            </div>
            <div class="col-6">
              <select class="form-control" id="exampleFormControlSelect1" style="width: 70%;">
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>16</option>
          </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommended Product Component -->
<div class="mx-3 p-3" style="background: white;">
  <!-- Heading -->
  <div>
    <div>
      <h5 style="margin: 2rem 1rem;">Other Products You May Like<span class="float-right view-more font14">view more</span>
      </h5>
    </div>
  </div>
  <!-- Heading -->

  <!-- Recommended Product card -->
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
        <div class="card-header bg-transparent">
          <h4 class="text-center" style="color: red;">Avery</h4>
          <p class="text-center font12 mb-0 w-600" style="color: red;">Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
        </div>
        <div class="text-success">
          <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
        </div>
         <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-8">
              <h5 class="amount colorRed">&#8358; 20,000</h5>
              <p class="size colorRed font14 w-500">Size:
                <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
          </div>
          <div class="view-details">
            <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
        <div class="card-header bg-transparent">
          <h4 class="text-center" style="color: red;">Avery</h4>
          <p class="text-center font12 mb-0 w-600" style="color: red;">Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
        </div>
        <div class="text-success">
          <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
        </div>
         <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-8">
              <h5 class="amount colorRed">&#8358; 20,000</h5>
              <p class="size colorRed font14 w-500">Size:
                <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
          </div>
          <div class="view-details">
            <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
        <div class="card-header bg-transparent">
          <h4 class="text-center" style="color: red;">Avery</h4>
          <p class="text-center font12 mb-0 w-600" style="color: red;">Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
        </div>
        <div class="text-success">
          <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
        </div>
         <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-8">
              <h5 class="amount colorRed">&#8358; 20,000</h5>
              <p class="size colorRed font14 w-500">Size:
                <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
          </div>
          <div class="view-details">
            <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 18rem; border:solid red 1px; border-radius: 0px;">
        <div class="card-header bg-transparent">
          <h4 class="text-center" style="color: red;">Avery</h4>
          <p class="text-center font12 mb-0 w-600" style="color: red;">Tags:&nbsp;<span>short&nbsp;</span>|&nbsp;<span>Fitted Kimono</span></p>
        </div>
        <div class="text-success">
          <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width:100%;">
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-8">
              <h5 class="amount colorRed">&#8358; 20,000</h5>
              <p class="size colorRed font14 w-500">Size:
                <span class="sizeNum  font12 text-light" style="background: red;">8</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">10</span>
                <span class="sizeNum ml-1 font12 text-light" style="background: red;">12</span>
                <span class="sizeNum  ml-1 font12 text-light" style="background: red;">14</span>
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-x colorRed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />

                  <path fill-rule="evenodd"
                    d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
          </div>
          <div class="view-details">
            <button class="btn btn-danger w-100 m-0 py-1">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Recommended Product card -->
</div>
<!-- Recommended Product Component -->
</div>

