<div class="about-us">
  <div class="row fff mb-4">
    <div class="col-6">
      <div class="p-4 about-div">
      <h4 class="colorRed">YOUR ONE STOP-SHOP</h4>
      <h4 class="colorRed">TO FULFILL YOUR FASHION DREAMS</h4>
      <p class="font14">Dartsntucks is your one stop-shop to fulfill your fashion dreams.
        We are exceptional at designing unique and original wears to suit your needs.
        We engage absolute creativity and are customer-centric coupled with the delivery of excellence.
        Our fashion standard is high, our fashion sense is acute and our fashion taste is exquisite.<br>
        Our Services/What we do: we creatively design and produce various kinds of clothing for women and children.
        We have the ready-to-wear and bespoke Corporate wears, Party dresses, Children wears, Bridal Train Designs, Nighties & In-door wears,
        Throw pillows, Shopping bag, Souvenirs and many other products.<br>
        Our Vision & Mission; every single piece of clothing people see on you gives an impression about you and how people address you.
        Our desire is not just to enhance your fashion statement, but to bring your dreams to life.</p>
        </div>
        <a href="" class="contact-us">Contact Us</a>
    </div>
    <div class="col-6">
      <img src="../../../assets/images/printedCloth.jpg" alt="" style="width: 100%; height: 414px;">
    </div>
  </div>

  <!-- <div class=" mb-5" style="background: white; padding: 2rem 4rem; height: 64vh;">
    <div>
      <p class="" style="background: red;">Why Choose us</p>
    </div>
    <div class="row imgchoose">
      <div class="col-2">
        <div class="iii d-flex justify-content-center">
          <img src="../../../assets/images/printedCloth.jpg" alt="" style="width: 50px; height:50px;">
        </div>
        <div class="ttt" style="background: gray;">
          <h5 class="d-flex justify-content-center">Best Price</h5>
          <p class="d-flex justify-content-center font14">Our products are pocket friendly and you
            get better value for your money
          </p>
        </div>

      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <div class="iii d-flex justify-content-center">
          <img src="../../../assets/images/printedCloth.jpg" alt="" style="width: 50px; height:50px;">
        </div>

        <div class="ttt" style="background: gainsboro;">
          <h5 class="d-flex justify-content-center">Trendy</h5>
          <p class="d-flex justify-content-center font14">In a world where trends are constantly changing, we remain your
            one-stop
            shop to fulfill your fashion dreams
          </p>
        </div>

      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <div class="iii d-flex justify-content-center">
          <img src="../../../assets/images/printedCloth.jpg" alt="" style="width: 50px; height:50px;">
        </div>
        <div class="ttt p-4" style="background: gray;">
          <h5 class="d-flex justify-content-center">Fast</h5>
          <p class="d-flex justify-content-center font14">
            We deliver our products fast and still maintain that top notch quality.
          </p>
        </div>

      </div>
    </div>
  </div> -->

  <div class=" mb-5 why-chooseUs" style="background: white;">
    <div>
      <h6 class="text-center text-light py-2" style="background: red;">Why Choose us</h6>
    </div>
    <div class="d-flex justify-content-between icons">
      <div class="ee1" style="background: gray;">
          <h5 class="d-flex justify-content-center text-light">Best Price</h5>
          <p class="d-flex justify-content-center font14 text-light">
            Our products are pocket <br>
            friendly and you
            get better <br>
            value for your money
          </p>

            <i class="fas fa-tags icon1"></i>

      </div>

      <div class="ee2" style="background: gainsboro;">
          <h5 class="d-flex justify-content-center">Trendy</h5>
          <p class="d-flex justify-content-center font14 ">
            In a world where trends are <br>
            constantly changing, we<br>
            remain your one-stop shop to <br>
            fulfill your fashion dreams
          </p>
          <i class="fas fa-smile-wink icon2"></i>
      </div>

      <div class="ee3" style="background: gray;">
          <h5 class="d-flex justify-content-center text-light">Fast</h5>
          <p class="d-flex justify-content-center font14 text-light">
            We deliver our products<br>
            fast and still maintain that<br>
            top notch quality.
          </p>
          <i class="fas fa-history icon3"></i>
      </div>
    </div>
  </div>
</div>

