<div class="" style="padding-top: 6rem; ">
  <div class="row mb-5 contact-info">
    <div class="col-4">
      <img src="../../../assets/images/printedCloth.jpg" alt="img" style="width: 100%; height: 100%; border: solid red 0.5px;" />
    </div>
    <div class="col-8" >
      <form>

        <div class="form-group">
          <label for="inputSubject">Subject</label>
          <input type="text" class="form-control" id="inputSubject" placeholder="Write your subject here">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
          </div>
          <div class="form-group col-md-6">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="LastName" placeholder="Enter your last name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
          </div>
          <div class="form-group col-md-4">
            <label for="phoneNumber">Phone Number</label>
             <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone number">
          </div>
        </div>
        <div class="form-group">
          <p>Your message</p>
          <textarea name="" id="" style="resize: none; width: 100%; height: 200px; outline: none;" placeholder="Write your message here"></textarea>
        </div>
        <button type="submit" class=" btn btn-dark w-100 m-0">Send Message</button>
      </form>
    </div>
  </div>
</div>

